
.typekit-badge {opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";}


#page-wrap {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}


.top-bar-links{
	float:right;
	margin-right:70px !important; 
}

.top-bar .top-bar-links > li > a{
	cursor:pointer;
}

#nav-branding{
margin-left:20px;
}

#nav-logo{
max-width:83px;
width:83px;
height:26px;
}

header{
display: block;
height: 635px;
}

#page-header{
margin-top:31px;
}

#img-bg{

position:absolute;
top:-1px;

background: url(../images/bg-header.png) no-repeat;
  -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
		
		background-position: center center;
		
	  width:100%;
	  height:838px;
}


#video-content{
display:block;
background: #1e1e1e;
width:100%;
height:0px;
}

.video-down {
    -moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out;  /* IE10 */
    transition: all 0.4s ease-out;  
}

.bg-down {
    -moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out;  /* IE10 */
    transition: all 0.4s ease-out;  
}

.how-down {
    -moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out;  /* IE10 */
    transition: all 0.4s ease-out;  
}

.how-down2 {
    -moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out;  /* IE10 */
    transition: all 0.4s ease-out;  
}

.grey-grad{
background: #f4f4f4; /* Old browsers */
background: -moz-linear-gradient(top, #f4f4f4 0%, #e8e8e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f4f4f4 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f4f4f4 0%,#e8e8e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f4f4f4 0%,#e8e8e8 100%); /* IE10+ */
background: linear-gradient(to bottom, #f4f4f4 0%,#e8e8e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */

}


.video{
    width:100%;
    float:left;
		margin-top:50px;
    text-align:center;
}

.video-close{
  width:60px;
  height:60px;
  float:right;
  text-align:center;
}

#video-play{
	width: 100%;
 	max-width:90px;
	height:90px;
	float:left;
	text-align:center;
	margin-right:20px;
	background-image: url(../images/video-play.png);
	
	background-position: bottom; 
	text-indent: -9999px;
	-webkit-transition: background-position 0.0s ease; 
	  -moz-transition: background-position 0.0s ease; 
	  -ms-transition: background-position 0.0s ease; 
	  transition: background-position 0.0s ease; 
  	border-radius: 0px !important;
  	-webkit-border-radius: 0px !important;
	
	&:hover {
		background-position: center;
	}
	
	&:active {
		background-position: top;
	}
}

.text-video{
}

.hero{
	h1{
	font-size:40px;
	-webkit-font-smoothing: antialiased;
	font-family:"DINPro-Bold";
	//font-family: "adelle-1","adelle-2",serif;
	//font-style: normal;
	//font-weight: 700;
	
	}
	margin-top:220px;
	width:280px;
}

p#subhero{
margin-top: 30px;
font-size: 18px;
-webkit-font-smoothing: antialiased;
	font-family:"DINPro-Light";
	//font-family: "adelle-1","adelle-2",serif;
	//font-style: normal;
	//font-weight: 300;
color: #ffffff;
}

#hand{
width:620px;
height:728px;
background:url(../images/hand-header.png) no-repeat bottom;
max-width: 560px;
min-width: 350px;
background-size: 100%;
}

#hand2{
display:none;
width:620px;
height:728px;
background:url(../images/hand-header.png) no-repeat bottom;
}

#social{
display: block;
}

#social-links{
		@include list-reset();
		@include list-horizontal();
		margin-top:5px;
		> li {
			
			> a {
			display: block;
			text-align: center;
			margin-left:10px;
			}
		
		}
}

#social-download{
width:260px;
height:54px;
	background-image: url(../images/social-download.png);
	
	background-position: bottom; 
	text-indent: -9999px;
	-webkit-transition: background-position 0.0s ease; 
	  -moz-transition: background-position 0.0s ease; 
	  -ms-transition: background-position 0.0s ease; 
	  transition: background-position 0.0s ease; 
  	border-radius: 0px !important;
  	-webkit-border-radius: 0px !important;
	
	&:hover {
		background-position: center; 
	}
	
	&:active {
		background-position: top; 
	}
}

#social-facebook{
width:53px;
height:54px;
	background-image: url(../images/social-facebook.png);
	
	background-position: bottom; 
	text-indent: -9999px;
	-webkit-transition: background-position 0.0s ease; 
	  -moz-transition: background-position 0.0s ease; 
	  -ms-transition: background-position 0.0s ease; 
	  transition: background-position 0.0s ease; 
  	border-radius: 0px !important;
  	-webkit-border-radius: 0px !important;

	&:hover {
		background-position: center; 
	}
	
	&:active {
		background-position: top; 
	}
}

#social-twitter{
width:53px;
height:54px;
	background-image: url(../images/social-twitter.png);
	
	background-position: bottom; 
	text-indent: -9999px;
	-webkit-transition: background-position 0.0s ease; 
	  -moz-transition: background-position 0.0s ease; 
	  -ms-transition: background-position 0.0s ease; 
	  transition: background-position 0.0s ease; 
  	border-radius: 0px !important;
  	-webkit-border-radius: 0px !important;
	
	&:hover {
		background-position: center; 
	}
	
	&:active {
		background-position: top; 
	}
}

.mb0{
	color: #ffffff;
}

#howitworks{
	height:820px;
	max-width:1200px;
	position:relative;
	margin: 0 auto;

}

#features{
	
	margin-top:50px;
	text-align:center;
	
	h1{
		font-size: 48px;
		-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
	}

}

.no-padding{
padding:0 0 !important;

}

.description-left{
	width:200px;
}

.description-right{
	width:200px;
	float:left !important;
}

.description-left2{
	width:160px;
}

.description-right2{
	width:160px;
	float:left !important;
}


.center-description{
	display:inline-block;
}

.center-row{
	text-align:center;
	width:100%;
}

#iphone-center{
	margin-top: 61px;
	margin-left:79px;
	margin-right:81px;
	background-image: url("../images/iphone-container.png");
	display: block;
	width: 312px;
	height: 669px;
}

.hidden{
	display:none;
}

#arrows{
	background-image: url("../images/arrows.png");
	display: block;
    position: absolute;
	background-repeat: no-repeat;
	width:469px;
	height:474px;
	margin-left:-80px;
	margin-top:90px;
	z-index:0;
}

#app-screenshot{
	display: block;
	width: 268px;
	height: 474px;
	background-repeat: no-repeat;
	position: relative;
	top: 93px;
	left: 24px;
}

.screenhot-show{
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	z-index: 0;
	opacity: 1;
	width: 268px;
	height: 474px;

}

#iphone{
position:absolute;
margin:0px auto;
margin-top: 50px;
display:block;
width:50%;
max-width:470px;
z-index:1;
}



#how-right{
margin-top:300px;
width:200px;
float:right;

}

#how-left{
margin-top:120px;
width:200px;
float:left;

}

#haltestellen{
	-webkit-font-smoothing: antialiased;
			font-family:"DINPro-Regular";
			//font-family: "adelle-1","adelle-2",serif;
			//font-style: normal;
			//font-weight: 400;
			cursor: hand; 
			cursor: pointer; 
		color: #a3a3a3;

		>h3{
			-webkit-font-smoothing: antialiased;
			font-family:"DINPro-Regular";
			//font-family: "adelle-1","adelle-2",serif;
			//font-style: normal;
			//font-weight: 400;
		}
}

#datepicker{
margin-top:130px;
margin-right:20px;
cursor: hand; 
cursor: pointer; 
-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
		color: #a3a3a3;
		
		
		> h3{
			-webkit-font-smoothing: antialiased;
			font-family:"DINPro-Regular";
			//font-family: "adelle-1","adelle-2",serif;
			//font-style: normal;
			//font-weight: 400;
		}
}

#suche{
margin-left:-20px;
cursor: hand; 
cursor: pointer; 
-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
		color: #a3a3a3;
		
		> h3{
			-webkit-font-smoothing: antialiased;
			font-family:"DINPro-Regular";
			//font-family: "adelle-1","adelle-2",serif;
			//font-style: normal;
			//font-weight: 400;
		}
}

#bringmehome{
margin-top:130px;
margin-left:10px;
cursor: hand; 
cursor: pointer; 
-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
		color: #a3a3a3;
		
		> h3{
			-webkit-font-smoothing: antialiased;
			font-family:"DINPro-Regular";
			//font-family: "adelle-1","adelle-2",serif;
			//font-style: normal;
			//font-weight: 400;
		}

}

#nextrbutton{
margin-top:60px;
margin-left:10px;
cursor: hand; 
cursor: pointer; 
-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
		color: #a3a3a3;
		
		> h3{
			-webkit-font-smoothing: antialiased;
			font-family:"DINPro-Regular";
			//font-family: "adelle-1","adelle-2",serif;
			//font-style: normal;
			//font-weight: 400;
		}
}

#close1{
	background-color: white;
	height:80px;
}

#home-close{

text-align:center;
margin-top:25px;
 > h1{
 	-webkit-font-smoothing: antialiased;
	font-family:"DINPro-Regular";
	//font-family: "adelle-1","adelle-2",serif;
	//font-style: normal;
	//font-weight: 400;
 	font-size: 24px;
	color: #a3a3a3;
 	
 }

}

.close-icon{
width:17px;
height:9px;

}

.close-left{
float:left;
margin-top: 10px;
margin-left:70px;

}

.close-right{
float:right;
position: relative;
top:-30px;
margin-right:70px;
}


#howitworks2{
	background-color: #f4f4f4;
	height:750px;
	position:relative;
	margin: 0 auto;
	
	#iphone2{
	position:absolute;
	margin-left:1px;
	margin-top: 50px;
	display:block;
	max-width:645px;
	max-height:638px;
	z-index:1;
	}


	#iphone-center2{
		width:645px;
		height:638px;
		display:block;
	}
	
}


#how-right2{
margin-top:260px;
width:160px;
float:right;

}

#how-left2{
margin-top:310px;
width:160px;
float:left;

}

#verbindungen	{
	-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
		cursor: hand; 
		cursor: pointer; 
		color: #a3a3a3;
		
		> h3{
			-webkit-font-smoothing: antialiased;
			font-family:"DINPro-Regular";
			//font-family: "adelle-1","adelle-2",serif;
			//font-style: normal;
			//font-weight: 400;
		}
}

#scroll	{
margin-top:120px;
margin-right:20px;
cursor: hand; 
cursor: pointer; 
-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
		color: #a3a3a3;
		
		> h3{
			-webkit-font-smoothing: antialiased;
			font-family:"DINPro-Regular";
			//font-family: "adelle-1","adelle-2",serif;
			//font-style: normal;
			//font-weight: 400;
		}
}

#detail{
	-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
		cursor: hand; 
		cursor: pointer; 
		color: #a3a3a3;
		margin-left:10px;
		> h3{
			-webkit-font-smoothing: antialiased;
			font-family:"DINPro-Regular";
			//font-family: "adelle-1","adelle-2",serif;
			//font-style: normal;
			//font-weight: 400;
		}
}

#iphone-over{
	width:645px;
	height:638px;

}

#close{
margin-top:70px;
margin-left:10px;
		-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
		color: #a3a3a3;
		
		> h3{
			-webkit-font-smoothing: antialiased;
			font-family:"DINPro-Regular";
			//font-family: "adelle-1","adelle-2",serif;
			//font-style: normal;
			//font-weight: 400;
		}
}

#close2{
	background-color: #f4f4f4;
	height:80px;
}

#verbindungen-close{
margin-top:25px;
z-index:1;
text-align:center;

 > h1{
 	-webkit-font-smoothing: antialiased;
	font-family:"DINPro-Regular";
	//font-family: "adelle-1","adelle-2",serif;
	//font-style: normal;
	//font-weight: 400;
 	font-size: 24px;
	color: #a3a3a3;
 	
 }

}

#map-text{
	margin-top:35px;
	
	> h1{
		-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
		font-size: 48px;
	}
	
	> p{
		font-size: 18px;
		-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";	
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
		background-color:white;
	}
}

#map{
background: url(../images/map-bg.png) no-repeat;
background-position: 40% center;

  -webkit-background-size: cover; 
    -moz-background-size:cover; 
    -o-background-size: cover; 
    background-size: cover; 
		
	  height:533px;
}

#stations{
margin-top:250px;
float:none;
}

.vicon{

		width: 60px;
		height: 60px;
		cursor: hand; 
		cursor: pointer; 
}

.hicon{

		width: 100px;
		height: 50px;
}


#stations div.span3{
padding:0;
}

#son{
float:left;
}

#stations ul{
		@include list-reset();
		@include list-horizontal();
		margin-left: 10%;
		margin-right: auto;
		> li{
				//margin-left:120px;
			    display: inline;
				margin-right:5px;
				margin-top:10px;
		}
		> li.hover{
				display:none;
				width:100px;
			> a {

			}
		}
}

.hovercenter img{
	display:inline;	
}

.hover{
	width:100px;
	visibility:hidden;
	margin-bottom:5px;
}


#appstore{
	background: url(../images/appstore-bg.png) no-repeat;
	background-position: center center;

  -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size: cover; 
    background-size: cover; 

	height:601px;
}

#nextrappbutton{
	margin-top:200px;
	width:114px;
	height:114px;
	background-image: url(../images/appstore-nextrbutton.png);
	cursor: hand; 
	cursor: pointer; 
	
	background-position: bottom; 
	text-indent: -9999px;
	-webkit-transition: background-position 0.0s ease; 
	  -moz-transition: background-position 0.0s ease; 
	  -ms-transition: background-position 0.0s ease; 
	  transition: background-position 0.0s ease; 
  	border-radius: 0px !important;
  	-webkit-border-radius: 0px !important;
	
	&:hover {
		background-position: center; 
	}
	
	&:active {
		background-position: top; 
	}
}

#appstore-text{
margin-top:25px;
		
	> h1{
		font-size: 30px;
		-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
	}
	> p{
		width:55%;
		color: grey;
		font-size: 15px;
		-webkit-font-smoothing: antialiased;
		font-family:"DINPro-Regular";
		//font-family: "adelle-1","adelle-2",serif;
		//font-style: normal;
		//font-weight: 400;
	}
}


footer{
	background: url(../images/footer-bg.png) no-repeat;
	background-position: center center;

  -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size: cover; 
    background-size: cover; 

	height:376px;
}

#nextr-footer{
	margin-top:70px;
}

.footer-header img {
  float: left;
  width: 23px;
  height: 16px;
  position: relative;
  top: 13px;
  left: 0px;
}

.footer-header h1 {
	margin-left:40px;
	color: white;
	font-size:30px;
	-webkit-font-smoothing: antialiased;
	font-family:"DINPro-Light";
	//font-family: "adelle-1","adelle-2",serif;
	//font-style: normal;
	//font-weight: 300;
}

#footer-feedback{	
	color: white;
	font-size:18px;
	margin-bottom:30px;
	-webkit-font-smoothing: antialiased;
	font-family:"DINPro-Light";
	//font-family: "adelle-1","adelle-2",serif;
	//font-style: normal;
	//font-weight: 300;
	
	> a{
		color:white;
		text-decoration:none;
	}
}

#footer-claimer{
	color:black;
	font-size:11px;
	line-height:14px;
	-webkit-font-smoothing: antialiased;
	font-family:"DINPro-Regular";
	//font-family: "adelle-1","adelle-2",serif;
	//font-style: normal;
	//font-weight: 400;
	
	> a{
		color:black;
		text-decoration:none;
	}

}

#who{
	float:left;
	margin-top:70px;
	margin-left:0px;

	#mwermuth{
		margin-top:20px;
	}
	
	
	ul{
		@include list-reset();
		@include list-horizontal();
	}
	
	ul > li{
		margin-right:7px;
	}
	
	#footer-facebook{
		margin-top:20px;
		width:40px;
		height:40px;
		background-image: url(../images/footer-facebook.png);
	
		background-position: bottom; 
		text-indent: -9999px;
		-webkit-transition: background-position 0.0s ease; 
		  -moz-transition: background-position 0.0s ease; 
		  -ms-transition: background-position 0.0s ease; 
		  transition: background-position 0.0s ease; 
	  	border-radius: 0px !important;
	  	-webkit-border-radius: 0px !important;
		
		&:hover {
			background-position: center; 
		}
	
		&:active {
			background-position: top; 
		}
	}
	

	#footer-twitter{
	margin-top:20px;
	width:40px;
	height:40px;
		background-image: url(../images/footer-twitter.png);
	
		background-position: bottom; 
		text-indent: -9999px;
		-webkit-transition: background-position 0.0s ease; 
		  -moz-transition: background-position 0.0s ease; 
		  -ms-transition: background-position 0.0s ease; 
		  transition: background-position 0.0s ease; 
	  	border-radius: 0px !important;
	  	-webkit-border-radius: 0px !important;
		
		&:hover {
			background-position: center; 
		}
	
		&:active {
			background-position: top; 
		}
	}
}


