
#mobile-iphone{
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom:20px;
margin-top: 50px;
width:70%;
max-width:394px;
z-index:1;
}

.mobile-desc{
margin-bottom:20px;
width:70%;
margin-left:auto;
margin-right:auto;

	> h3{
		font-family:"DINPro-Regular";
	}
	
	color: #a3a3a3;
	font-family:"DINPro-Regular";
	
}


#howitworks2-mobile{
	background-color: #f4f4f4;


}


@include respond-to(tablet) {

.top-bar .top-bar-links > li > a {
	width:60px;
	padding: 29px 0px;
}



#hand{
width:620px;
height:728px;
background:url(../images/hand-header.png) no-repeat bottom;
max-width: 470px;
min-width: 350px;
background-size: 100%;
margin-left:-150px;
}


#social-links{

	margin-left:-20px;
}


.description-left{
	width:160px;
}

.description-right{
	width:140px;
}

.description-left2{
	width:130px;
}

.description-right2{
	width:130px;
}

#iphone-center{
	margin-left:70px;
	margin-right:70px;
}

#datepicker{
	margin-top:80px;
}

#suche{
	margin-left:-15px;
}

#bringmehome{
	margin-top:90px;
	margin-left:15px;
}

#nextrbutton{
	margin-top:30px;
	margin-left:20px;
}

#how-left{
	width:140px;
}

#how-right{
	width:160px;
}

#howitworks2{
	height:670px;
}

#howitworks2 #iphone-center2{
	width:495px;
	height:488px;
	margin-top:30px;
}

#howitworks2 #iphone2 {
	max-width:495px;
	max-height:488px;
}

#iphone-over{
	width:495px;
	height:488px;
}

#verbindungen{
	margin-top:-50px;
}

#scroll{
	margin-top:90px;
}

#close{
	margin-top:50px;
}

#how-left2{
	width:130px;
	margin-top:260px;
}

#how-right2{
	width:130px;
	margin-top:200px;
}

#stations ul{
		@include list-reset();
		@include list-horizontal();
		margin-left: 10%;
		margin-right: auto;
		> li{
				//margin-left:120px;
			    display: inline;
				margin-right:10px;
				margin-top:10px;
		}
}

.hovercenter img{
	display:inline;	
}

.vicon{
	width:40px;
	height:40px;
}

.hover{
	width:70px;
	visibility:hidden;
}



#appstore-text{
	
	> h1{
		font-size: 25px;
		margin-bottom:5px;
	}
	
	> p{
		width:60%;
		font-size:14px;
	}
}

#nextr-footer {
margin-top: 40px;
}

}


@include respond-to(mobile) {


#hand{
display:none;
width:80%;
height:528px;
float: none;
margin: 0 auto;
margin-top:200px;
max-width:400px;
min-width:400px;
background-size:80%;

background:url(../images/hand-header.png) no-repeat bottom;

}

#img-bg{

	  width:100%;
	  height:639px;
}


#hand2{
display:block !important;
width:100%;
height:528px;
float: none;
margin: 0 auto;
margin-top:-91px;
margin-left:-10%;
max-width:390px;
min-width:350px;
background-size:95%;


}

header{
	height:450px;

}

.hero{

margin-top:40px;
margin-left:40px;

}

#social-links{
margin-left:5%;
}

#social-download{
width: 100%;
height:37px;
margin: 0 auto;
float: none;
max-width: 180px;
min-width: 180px;
background-size: 100%;
margin-top: 10px;

background-image: url(../images/social-download-mobil.png);

background-position: bottom; 
text-indent: -9999px;
-webkit-transition: background-position 0.0s ease; 
  -moz-transition: background-position 0.0s ease; 
  -ms-transition: background-position 0.0s ease; 
  transition: background-position 0.0s ease; 
border-radius: 0px !important;
-webkit-border-radius: 0px !important;

&:hover {
	background-position: center; 
}

&:active {
	background-position: top; 
}

}

#social-facebook{
width: 100%;
height:35px;
margin: 0 auto;
float: none;
max-width: 35px;
min-width: 35px;
background-size: 100%;
margin-top: 10px;

background-image: url(../images/social-facebook-mobil.png);

background-position: bottom; 
text-indent: -9999px;
-webkit-transition: background-position 0.0s ease; 
  -moz-transition: background-position 0.0s ease; 
  -ms-transition: background-position 0.0s ease; 
  transition: background-position 0.0s ease; 
border-radius: 0px !important;
-webkit-border-radius: 0px !important;

&:hover {
	background-position: center; 
}

&:active {
	background-position: top; 
}

}

#social-twitter{
width: 100%;
height:35px;
margin: 0 auto;
float: none;
max-width: 35px;
min-width: 35px;
background-size: 100%;
margin-top: 10px;


background-image: url(../images/social-twitter-mobil.png);

background-position: bottom; 
text-indent: -9999px;
-webkit-transition: background-position 0.0s ease; 
  -moz-transition: background-position 0.0s ease; 
  -ms-transition: background-position 0.0s ease; 
  transition: background-position 0.0s ease; 
border-radius: 0px !important;
-webkit-border-radius: 0px !important;

&:hover {
	background-position: center; 
}

&:active {
	background-position: top; 
}

}


#map{
background-position: 38% center;

  -webkit-background-size: cover; 
    -moz-background-size:cover; 
    -o-background-size: cover; 
    background-size: cover; 
		
	  height:384px;
}

#stations{
margin-top:200px;
float:none;
}

.vicon{

		width: 50px;
		height: 50px;
}

#stations ul{
		@include list-reset();
		@include list-horizontal();
		margin-left: 7%;
		margin-right: auto;
		> li{
			margin-right:5px;
		}
		> li #hover{
				display:none;
			> a {

			}
		}
}



#appstore{
background: url(../images/appstore-bg-mobile.png) no-repeat;
background-position: center center;

  -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size: cover; 
    background-size: cover; 

height:601px;
}


#nextrappbutton {
margin-left: 50%;
margin-top: 270px;
}

#appstore-text{
	
	> h1{
		font-size: 25px;
		margin-bottom:5px;
		margin-left:30%;
	}
	
	> p{
		width:60%;
		margin-left:30%;
		font-size:14px;
	}
}

#nextr-footer{
margin-top:30px;
margin-left:0px;
padding-left:20px;
padding-right:20px;

}

footer{
background: url(../images/footer-bg-mobile.png) no-repeat;
background-position: center center;

  -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size: cover; 
    background-size: cover; 

height:460px;
}

.footer-header{

	> img{
		width: 16px;
		height: 11px;
		position: relative;
		top: 8px;
		left: 0px;
	}
	
	> h1{
		margin-left: 30px;
		color: white;
		font-size: 20px;
	
	}

}

#footer-feedback{
	font-size: 14px;
	margin-bottom: 0px;

}

#footer-claimer{
	font-size: 11px;
	

}

#who{
	margin-top:40px;
	width:100%;
	padding-right:10px;
	padding-left:20px;
	
	#mwermuth{
		margin-top:2px;
		margin-right:10px;
	}
	
	#ober{
		margin-right:10px;
	}

	> img{
		float: left;
		width:80px;
	}
	
	> ul {
	margin-top:-20px;
		float:left;
	}

}
}
