@font-face {
  font-family: 'DINPro-Bold';
  src: url('../webfonts/DINPro-Bold.otf');
	font-weight: bold;
	font-style:normal;
}

@font-face {
  font-family: 'DINPro-Light';
  src: url('../webfonts/DINPro-Light.otf');
	font-weight: normal;
	font-style:normal;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('../webfonts/DINPro-Medium.otf');
	font-weight: normal;
	font-style:normal;
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url('../webfonts/DINPro-Regular.otf');
	font-weight: normal;
	font-style:normal;
}

@font-face {
  font-family: 'DINPro-Black';
  src: url('../webfonts/DINPro-Black.otf');
	font-weight: bold;
	font-style:normal;
}